*{
    margin: 0;
    padding: 0;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: -.003em;
    line-height: 1.08349;
}


header{
    background-color: #800000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.2rem;
    color: white;
}
.inner{
    width: 100%;
}

.inning{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto;
}

#top{
    border: solid black 1px;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: rgb(235, 206, 206);
}

#between{
    padding: 1.5rem;
}
#between h1{
    text-align: center;
}

#between .div{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

#between 
    .runswicket, .totalovers, .powerplay{
        
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    #between .box{
        /* width: 100%; */
        display: flex;
        border: solid 1px;
        justify-content: space-between;
        padding: 10px 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background-color: rgb(235, 206, 206);
    }
    #between .box .runrate p,
    #between .box .target p{
        padding: 5px;
    }

    .powerplay p{
        font-size: 1rem;
        font-weight: bold;
    }

.inner .timeline {
    height : 1rem;
    border: solid black 1px;
    display: flex;
    justify-content: left;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #800000;
    color: #fff;
}

.inner .timeline #time{
    min-width:100px;
}

.inner .timeline #timelineOver{
    justify-content: end;
}

#bottom{
    padding: 0.4rem 0;
    margin-right: 5px;
    margin-left: 5px;
    /* display : flex; */
    /* flex-wrap : wrap; */
    /* border: solid black 1px; */
}

#bottom input[type=button]{
    /* flex : 1; */
    width: 23.2%;
    min-height : 70px;
    font-size : 1.2rem;
    background-color: #fff;
    margin: 0.1rem;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.2rem #d3d3d3;
}

#bottom #second input[type=button]:nth-child(3){
    background-color: #800000;
    color:#fff;
    font-weight: bold;
}

#bottom #second input[type=button]:nth-child(3):active{
    background-color: #fff;
    color:#800000;
    font-weight: bold;
    border: solid #800000 2px;
}

#bottom input[type=button]:active{
    background-color: #800000;
    color: white;
}

#bottom #fourth #zeroButton{
    width: 35.5%;
}

#bottom #fourth #oneButton{
    width: 35.5%;
}

#footer{
    width: 100%;
    background-color: #8b0000;
    text-align: center;
    bottom: 0;
    position: fixed;
    font-size: 1rem;
    padding: 0.2rem;
    color: white;
}