*{
    margin : 0;
    padding : 0;
    width: auto;
    box-sizing: border-box;
}

.parent{
    background-image : url("https://imgs.search.brave.com/0tFT6V1kSqRCFMPmSGxJWpGVuOnk-jPRUA8yGD5Nqb4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9n/cmVlbi1ncmFzcy10/ZXh0dXJlXzEyNDkt/MTUuanBnP3NpemU9/NjI2JmV4dD1qcGc");
    display : flex;
    justify-content : center;
    flex-direction: column;
    align-items : center;
    flex: 1;
    min-height: 100vh;
}

.parent .text{
    padding : 40px;
    font-size: 50px;
    font-weight : bold;
    display : flex;
    color : maroon;
    box-shadow : 5px 5px 10px #1E5412;
    background-repeat: no-repeat;  
    background-size : 400px 145px;
    background-image : url("https://imgs.search.brave.com/q9IG8URdepp9Z4FX-9LNO_uAjUqegN20DalTIr45sqc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAwLzY0LzM3LzQy/LzM2MF9GXzY0Mzc0/Mjk4X2xYYW1SQndG/NFUycW5OZURJMlVM/cUVUemVqSE9COVdt/LmpwZw");
}

.parent .ball {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    /* margin-top: 0.3rem;
    height: 3rem;
    width: 3rem; */
    background-color: maroon;
    border-radius: 50%;
    border: solid white 2px;
    animation: rotate 4s linear infinite;
}
.ball:before{
    content : '';
    position : absolute;
    top : 13px;
    width : 28px;
    height : 1px;
    /* top : 0.9rem;
    width : 2.5rem;
    height : 0.6rem; */
    background-color : #84170B; 
    border : dashed white 3px;
    border-radius : 50%; 
    padding : 2px;
}



@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

.button input{
    font-size: 2rem;
    text-align: center;
    border-radius : 0.4rem;
    background : linear-gradient(to bottom, #9c1717 0%, #450411 100%);
    color: #fff;
    padding: 0.5rem 1rem;
    border: solid #fff 2px;
    position: relative;
    margin: 3rem auto;
    box-shadow: 0.2rem 0.2rem 0.5rem #800000;
}