*{
    margin: auto;
    padding: auto;
    background-color : #dbdde0;
    box-sizing: border-box;
    width: auto;
    /* background-image : url("https://imgs.search.brave.com/0tFT6V1kSqRCFMPmSGxJWpGVuOnk-jPRUA8yGD5Nqb4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9n/cmVlbi1ncmFzcy10/ZXh0dXJlXzEyNDkt/MTUuanBnP3NpemU9/NjI2JmV4dD1qcGc"); */
}
header{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding: 0.2rem;
    background : linear-gradient(to bottom, #9c1717 0%, #450411 100%);
}

form {
    /* width: auto; */
    /* margin: auto; */
    width:fit-content;
    max-height: 100vh;
    /* background-image: url("https://t4.ftcdn.net/jpg/01/68/38/25/240_F_168382591_Rlu6tBCBz25IHC74nLtQCdw4yXpfW1qn.jpg"); */
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 1rem rgba(84, 27, 27, 0.5);
    margin: 2rem auto; 
    padding: 3rem;
}

div{
    /* width: 3rem; */
    color: #fff;
    border: solid #fff 2px;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    background: maroon;
    padding: 0.5rem;
    margin: auto;
}
input{
    /* width: 60%; */
    text-align: left;
    font-size: 1.2rem;
    border: solid 1px;
    border-radius: 0.2rem;
    background: #fff;
    margin: 1rem auto;
    padding: 0.2rem;
}

.submit{
    /* width: 60%; */
    text-align: center;
    background : linear-gradient(to bottom, #9c1717 0%, #450411 100%);
    color: #fff;
    font-size: 1.2rem;
    padding : 0.5rem 1rem;
    margin-top: 2rem;
    border-radius: 0.2rem ;
    transition: background-color 0.3s, color 0.3s;
}

.submit:hover{
    background-color: #fff;
    border: solid maroon 2px;
}
footer{
    width : 100vw;
    bottom : 0;
    position :fixed;
    font-size : 0.8rem;
    background-color: #450411;
    color :white;
    text-align : center;
    padding : 0.2rem;
}